* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
}
.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: purple;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 3px purple;
  margin: 0;
}
.user {
}

table tr,
td {
  text-align: center;
  border: 1px solid black;
  padding: 3px;
}

table {
  width: 100%;
  border: solid 3px black;
  border-collapse: collapse;
}

.btn-container {
  display: flex;
}

.btn-container.register {
  align-self: flex-end;
}

button,
.btn {
  cursor: pointer;
  background-color: #5c9ead;
  border-radius: 5px;
  border: solid #fff;
  color: #fff;
  margin: 5px;
  padding: 2px;
  width: 100px;
}

button:hover {
  background-color: #326273;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 5px;
  border-radius: 5px;
}

.modal-table {
  width: 100%;
}

.close-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.close-trigger {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.popup-message {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* .form-cotainer {
  display: flex;
  flex-direction: column;
} */

.form {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.form {
  padding: 30px 40px 0px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}
