<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Wars Universe Planets</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header>Star Wars Universe Planets</header>
    <div class="btn-container">
      <button class="btn" id="previous">Previous</button>
      <button class="btn" id="next">Next</button>
      <div style="flex: 1;"></div>
      {% if user %}
      <div class="user-area">
        <h3>Hello {{ user }}</h3>
        <a href="/logout">
          <button>Log Out</button>
        </a>
      </div>
      {% else %}
      <a href="registration" class="register">
        <button class="btn register" id="register">Register</button>
      </a>
      <a href="login" class="register">
        <button class="btn register" id="register">Log in</button>
      </a>

      {% endif %}
      <!-- <h2>Hello {{user}}</h2> -->
    </div>
    <div class="table-container">
      <table class="main-table" id="main-table">
        <thead>
          <tr id="table-headers">
            <th>Name</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water</th>
            <th>Population</th>
            <th>Residents</th>
          </tr>
        </thead>
        <tbody id="table-content"></tbody>
      </table>
    </div>

    <div class="modal-bg">
      <div class="modal" id="modal">
        <span class="close-trigger" id="modal-inactive-trigger">X</span>
        <h3 id="resident-planet">There are no residents</h3>
        <table class="modal-table" id="modal-table">
          <thead>
            <tr id="modal-table-headers">
              <th>Name</th>
              <th>Height</th>
              <th>Mass</th>
              <th>Skin Color</th>
              <th>Hair Color</th>
              <th>Eye Color</th>
              <th>Birth year</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody id="modal-table-content"></tbody>
        </table>
        <div class="close-button">
          <button id="modal-inactive-button">Close</button>
        </div>
      </div>
    </div>

    <script src="static/script.js"></script>
  </body>
</html>
